html {
    font-family: SimHei, serif;
    font-size: 13.33333333vw;
    height: 100%;
    
}

body {
    font-size: .32rem;
    margin: 0;
    padding: 0;
    font-size: 0;
    
}
a {
    text-decoration: none;
}

a:active {
    opacity: .8;
    color: inherit;
}

input, select, textarea {
    outline: 0;
    font-family: inherit;
    font-size: 100%;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

i, em {
    font-style: normal;
}

p, h1, h2, h3, h4, h5, h6, form, textarea {
    margin: 0;
}

/*工具*/

.fix {
    *zoom: 1;
    *clear: both;
}

.fix:before, .fix:after {
    display: table;
    clear: both;
    content: '';
}

.oh {
    overflow: hidden;
    *zoom: 1;
}

.l {
    float: left;
}

.r {
    float: right;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.db {
    display: block;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.el {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hide {
    display: none;
}

.hidetext {
    font: 0/0 a;
    letter-spacing: -9px;
}

.arr {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 0;
}

.opc0 {
    opacity: 0;
}

.opc1 {
    opacity: 1;
}

.full_link {
    display: block;
    width: 100%;
    height: 100%;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.clear {
    clear: both
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover_top {
    width: 100%;
    background: url(11_01.png) top center no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
}
.cover_center {
    width: 100%;
    background: url(11_02.png) center no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
}
.cover_bottom {
    width: 100%;
    background: url(11_03.png) bottom center no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
}
.video_cover {
    width: 100%;
    background: url(index01.png) center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
}

.full{
    width: 100%;
    height: 100%;
}